.EightBall {
    width: 400px;
    height: 400px;
    border-radius: 500px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}


.Reset-btn {
    margin: 0 auto;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}


